In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
credit_card_df = pd.read_csv("F:\\Kaggle Datasets\\310_23498_bundle_archive\\creditcard.csv")

In [3]:
credit_card_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
credit_card_df["Class"].value_counts()

0    284315
1       492
Name: Class, dtype: int64

### What I will attempt to do next is a preprocessing technique called undersampling where I create a dataframe where both classes have the same amount of rows by taking samples from the majority class

In [5]:
count_class_0, count_class_1 = credit_card_df.Class.value_counts()

cc_class_0 = credit_card_df[credit_card_df['Class'] == 0]
cc_class_1 = credit_card_df[credit_card_df['Class'] == 1]

In [6]:
credit_card_df_under = cc_class_0.sample(count_class_1)
credit_card_test_df = pd.concat([credit_card_df_under,cc_class_1], axis = 0)
print(credit_card_test_df.Class.value_counts())

1    492
0    492
Name: Class, dtype: int64

In [7]:
credit_card_test_df

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
89520,62611.0,1.238305,-0.918260,1.045061,-0.491542,-1.838007,-0.931824,-1.020152,-0.034930,-0.248291,...,0.424658,0.991071,-0.099273,0.725544,0.322057,-0.071596,0.019360,0.036707,69.99,0
174634,121998.0,2.180520,-0.925293,-0.687845,-0.549528,-0.774616,-0.047385,-1.002307,-0.082614,0.109708,...,-0.177696,0.194903,0.065638,-0.954538,-0.192515,0.817765,-0.004517,-0.054306,12.90,0
100771,67616.0,-0.770322,0.390511,2.471906,1.415701,-0.150819,0.628224,0.073738,0.321878,0.555830,...,-0.398706,-0.856075,-0.183681,-0.159332,0.397069,-0.371056,0.113380,0.084714,30.70,0
276274,166995.0,-1.070547,0.227760,2.194074,-0.921175,0.326707,-0.513532,0.213094,0.115338,0.181224,...,0.195764,0.527772,-0.411066,-0.024307,0.611158,0.614483,-0.020632,0.055418,10.00,0
204777,135445.0,-1.181020,1.178783,0.248006,-1.032154,1.752685,-0.121170,1.631691,-0.901803,0.271005,...,-0.400512,-0.633256,-0.047140,0.201628,-0.251198,0.022068,-1.079338,-0.454354,0.89,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score

In [9]:
train, test = train_test_split(credit_card_test_df, test_size=.3)

In [10]:
train_x = train.drop('Class', axis=1)
train_y = train['Class']

test_x = test.drop('Class', axis=1)
test_y = test['Class']

In [11]:
lr = LogisticRegression()

In [12]:
lr.fit(train_x,train_y)

F:\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [13]:
y_pred = lr.predict(test_x)

In [14]:
cm = confusion_matrix(test_y, y_pred)
print("Confusion Matrix of %s is %s"%(lr, cm))

Confusion Matrix of LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False) is [[150   4]
 [  8 134]]

In [15]:
acc = accuracy_score(test_y, y_pred)
print("Accuracy of %s is %s"%(lr, acc))

Accuracy of LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False) is 0.9594594594594594

In [16]:
from sklearn.metrics import f1_score
f1 = f1_score(test_y,y_pred,average='weighted')
print("F1 score is %s"%(f1))

F1 score is 0.9594297594297595

# By using undersampling I achieved the following results

Precision of: 97.40%

Recall of: 94.93%

# Next I'm going to attempt to do oversampling

In [17]:
credit_card_df_over = cc_class_1.sample(count_class_0, replace=True)
credit_card_test_df_over = pd.concat([cc_class_0,credit_card_df_over], axis=0)
print(credit_card_test_df_over.Class.value_counts())

1    284315
0    284315
Name: Class, dtype: int64

In [18]:
train01, test01 = train_test_split(credit_card_test_df_over, test_size=.3)

In [19]:
train_x01 = train01.drop('Class', axis=1)
train_y01 = train01['Class']

test_x01 = test01.drop('Class', axis=1)
test_y01 = test01['Class']

In [20]:
lr.fit(train_x01,train_y01)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [21]:
y_pred01 = lr.predict(test_x01)

In [22]:
cm01 = confusion_matrix(test_y01, y_pred01)
print("Confusion Matrix of %s is %s"%(lr, cm01))

Confusion Matrix of LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False) is [[82371  3047]
 [ 7598 77573]]

In [23]:
acc01 = accuracy_score(test_y01, y_pred01)
print("Accuracy of %s is %s"%(lr, acc01))

Accuracy of LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False) is 0.9375985555926818

In [24]:
f1_1 = f1_score(test_y01,y_pred01,average='weighted')
print("F1 score is %s"%(f1_1))

F1 score is 0.9375516954754299

### By using oversampling I achieved the following results:

Precision of: 96.43%

Recall of: 91.55%

In [25]:
credit_card_df.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [36]:
credit_card_df_min = credit_card_df.drop([credit_card_df.columns[11],credit_card_df.columns[12],credit_card_df.columns[13]], axis=1, inplace=True)

In [37]:
credit_card_df.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'Amount', 'Class'],
      dtype='object')

### For the previous lines what I did was run the line now counted as [36] for three times in order to eliminate all columns between V11 and V28.

In [38]:
credit_card_df.shape

(284807, 13)

In [39]:
from sklearn import preprocessing

In [40]:
credit_class = credit_card_df['Class']
credit_card_df = credit_card_df.drop(['Class'],axis=1)

In [41]:
credit_class

0         0
1         0
2         0
3         0
4         0
         ..
284802    0
284803    0
284804    0
284805    0
284806    0
Name: Class, Length: 284807, dtype: int64

In [42]:
standardized_df = preprocessing.scale(credit_card_df)

In [43]:
credit_card_df.shape

(284807, 12)

In [44]:
standardized_df = standardized_df.reshape(284807, 12)

In [45]:
post_stand_df = pd.DataFrame(standardized_df)

In [46]:
post_stand_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,-1.996583,-0.694242,-0.044075,1.672773,0.973366,-0.245117,0.347068,0.193679,0.082637,0.331128,0.083386,0.244964
1,-1.996583,0.608496,0.161176,0.109797,0.316523,0.043483,-0.061820,-0.063700,0.071253,-0.232494,-0.153350,-0.342475
2,-1.996562,-0.693500,-0.811578,1.169468,0.268231,-0.364572,1.351454,0.639776,0.207373,-1.378675,0.190700,1.160686
3,-1.996562,-0.493325,-0.112169,1.182516,-0.609727,-0.007469,0.936150,0.192071,0.316018,-1.262503,-0.050468,0.140534
4,-1.996541,-0.591330,0.531541,1.021412,0.284655,-0.295015,0.071999,0.479302,-0.226510,0.744326,0.691625,-0.073403

In [47]:
post_stand_df = post_stand_df.rename({1: 'V1', 2: 'V2', 3: 'V3', 4: 'V4', 5: 'V5', 6: 'V6', 7: 'V7', 8: 'V8', 9: 'V9', 10: 'V10'}, axis=1)

In [48]:
post_stand_df.head()

,0,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,11
0,-1.996583,-0.694242,-0.044075,1.672773,0.973366,-0.245117,0.347068,0.193679,0.082637,0.331128,0.083386,0.244964
1,-1.996583,0.608496,0.161176,0.109797,0.316523,0.043483,-0.061820,-0.063700,0.071253,-0.232494,-0.153350,-0.342475
2,-1.996562,-0.693500,-0.811578,1.169468,0.268231,-0.364572,1.351454,0.639776,0.207373,-1.378675,0.190700,1.160686
3,-1.996562,-0.493325,-0.112169,1.182516,-0.609727,-0.007469,0.936150,0.192071,0.316018,-1.262503,-0.050468,0.140534
4,-1.996541,-0.591330,0.531541,1.021412,0.284655,-0.295015,0.071999,0.479302,-0.226510,0.744326,0.691625,-0.073403

In [49]:
post_stand_df.shape

(284807, 12)

In [50]:
post_stand_df = post_stand_df.rename({0: 'Time', 11: 'Amount'}, axis=1)

In [51]:
post_stand_df

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,Amount
0,-1.996583,-0.694242,-0.044075,1.672773,0.973366,-0.245117,0.347068,0.193679,0.082637,0.331128,0.083386,0.244964
1,-1.996583,0.608496,0.161176,0.109797,0.316523,0.043483,-0.061820,-0.063700,0.071253,-0.232494,-0.153350,-0.342475
2,-1.996562,-0.693500,-0.811578,1.169468,0.268231,-0.364572,1.351454,0.639776,0.207373,-1.378675,0.190700,1.160686
3,-1.996562,-0.493325,-0.112169,1.182516,-0.609727,-0.007469,0.936150,0.192071,0.316018,-1.262503,-0.050468,0.140534
4,-1.996541,-0.591330,0.531541,1.021412,0.284655,-0.295015,0.071999,0.479302,-0.226510,0.744326,0.691625,-0.073403
...,...,...,...,...,...,...,...,...,...,...,...,...
284802,1.641931,-6.065842,6.099286,-6.486245,-1.459641,-3.886611,-1.956690,-3.975628,6.116573,1.742559,4.000715,-0.350151
284803,1.641952,-0.374121,-0.033356,1.342145,-0.521651,0.629040,0.794446,0.019667,0.246886,0.532299,-0.896292,-0.254117
284804,1.641974,0.980024,-0.182434,-2.143205,-0.393984,1.905833,2.275262,-0.239939,0.593140,0.393630,-0.445225,-0.081839
284805,1.641974,-0.122755,0.321250,0.463320,0.487192,-0.273836,0.468155,-0.554672,0.568631,0.356887,-0.366558,-0.313249
284806,1.642058,-0.272331,-0.114899,0.463866,-0.357570,-0.009089,-0.487602,1.274769,-0.347176,0.442532,-0.840730,0.514355

In [52]:
post_stand_df['Class'] = credit_class

In [53]:
post_stand_df

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,Amount,Class
0,-1.996583,-0.694242,-0.044075,1.672773,0.973366,-0.245117,0.347068,0.193679,0.082637,0.331128,0.083386,0.244964,0
1,-1.996583,0.608496,0.161176,0.109797,0.316523,0.043483,-0.061820,-0.063700,0.071253,-0.232494,-0.153350,-0.342475,0
2,-1.996562,-0.693500,-0.811578,1.169468,0.268231,-0.364572,1.351454,0.639776,0.207373,-1.378675,0.190700,1.160686,0
3,-1.996562,-0.493325,-0.112169,1.182516,-0.609727,-0.007469,0.936150,0.192071,0.316018,-1.262503,-0.050468,0.140534,0
4,-1.996541,-0.591330,0.531541,1.021412,0.284655,-0.295015,0.071999,0.479302,-0.226510,0.744326,0.691625,-0.073403,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,1.641931,-6.065842,6.099286,-6.486245,-1.459641,-3.886611,-1.956690,-3.975628,6.116573,1.742559,4.000715,-0.350151,0
284803,1.641952,-0.374121,-0.033356,1.342145,-0.521651,0.629040,0.794446,0.019667,0.246886,0.532299,-0.896292,-0.254117,0
284804,1.641974,0.980024,-0.182434,-2.143205,-0.393984,1.905833,2.275262,-0.239939,0.593140,0.393630,-0.445225,-0.081839,0
284805,1.641974,-0.122755,0.321250,0.463320,0.487192,-0.273836,0.468155,-0.554672,0.568631,0.356887,-0.366558,-0.313249,0
284806,1.642058,-0.272331,-0.114899,0.463866,-0.357570,-0.009089,-0.487602,1.274769,-0.347176,0.442532,-0.840730,0.514355,0

In [54]:
post_stand_df.Class.value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [55]:
count_class_V0, count_class_V1 = post_stand_df.Class.value_counts()

In [56]:
cc_class_V0 = post_stand_df[post_stand_df['Class'] == 0]
cc_class_V1 = post_stand_df[post_stand_df['Class'] == 1]

In [57]:
post_stand_df_under = cc_class_V0.sample(count_class_V1)
post_stand_df_test = pd.concat([post_stand_df_under,cc_class_V1], axis = 0)

In [58]:
trainV, testV = train_test_split(post_stand_df_test, test_size=.3)

In [59]:
train_x02 = trainV.drop('Class', axis=1)
train_y02 = trainV['Class']

test_x02 = testV.drop('Class', axis=1)
test_y02 = testV['Class']

In [60]:
lr.fit(train_x02,train_y02)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [61]:
y_pred_02 = lr.predict(test_x02)
cm02 = confusion_matrix(test_y02, y_pred_02)
print("Confusion Matrix of %s is %s"%(lr, cm02))

Confusion Matrix of LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False) is [[133   5]
 [ 17 141]]

In [62]:
y_pred02 = lr.predict(test_x02)
f1_2 = f1_score(test_y02,y_pred02,average='weighted')
print("F1 score is %s"%(f1_2))

F1 score is 0.9257571716453296

Precision = 96.37%

Recall = 88.66%